
body {
  height: 100%;
  background-color: rgb(1, 8, 4);
}

nav{
  background-color: rgb(14, 164, 114);
  padding: 10px;
  height: 70px;
  display: flex;
  align-items:center;
}


nav img{
  width: 30px;
  height: 30px;
}

.navbar-brand{
  color: black;
  size: 25px;
}

.inicioCuerpo{
  display: flex;
  background-color: rgb(1, 8, 4);
}

.botonesInicio{
  position: absolute;
  top: 5px;
  right: 20px; 
}

.iniciarSesion, .registrar {
  padding: 10px 10px; 
  margin: 10px 10px;
  background-color: rgb(14, 164, 114); 
  color: white; 
  border: none; 
  cursor: pointer;
  border-radius: 5px; 
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
}

.iniciarSesion:hover, .registrar:hover {
  background-color: #45a049; 
  transform: scale(1.1);
}

.iniciarSesion:visited, .registrar:visited {
  color: #fff; /* Mantener el color del texto sin cambios */
}


.carousel-item img {
  width: 80%; 
  height: 60%; 
  object-fit: cover; 
  display: block; 
  margin: 0 auto;
}

.text1{
  color: rgb(255, 255, 255);
  font-family: 'Roboto'; /* Utilizar Roboto como primera opción */
  font-style: italic; /* Aplicar estilo cursiva */
}