.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  color: black;
  size: 25px;
}

.fondo {
  background-color: black;
  min-height: 100vh;
}

.laCentracion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrarVert {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
}

/* ----------------------------------------Botones Login-------------------------------------------- */

.iniciarSesion {
  padding: 10px 10px;
  margin: 30px 10px;
  background-color: rgb(14, 164, 114);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
}

.iniciarSesion:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.iniciarSesion:visited {
  color: #fff; /* Mantener el color del texto sin cambios */
}

/* Login puro y duro */

.textoCuestionario {
  margin-top: 50px;
  color: rgb(51, 126, 45);
  font-family: "Fjalla One";
  font-size: 50px;
}

/*--------Carrucel---------*/

.imaCarru {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.imaCarru img {
  width: 50rem;
  height: 30rem;
}

.text1 {
  color: rgb(255, 255, 255);
  font-family: "Roboto"; /* Utilizar Roboto como primera opción */
  font-style: italic; /* Aplicar estilo cursiva */
  margin-bottom: 5%;
}

/* ----------Grupo Botones-------------------- */

.botonNav {
  width: 8rem;
  height: 3.1rem;
  padding: 5px 5px;
  margin: 3px 5px;
  background-color: rgb(14, 164, 114);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 500;
  text-decoration: none;
}

.botonNav:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

/* ------------Observaciones----------- */
.obse {
  margin-top: 1rem;
}

/* ---------Agregar obs---- */
.text2 {
  margin-top: 3%;
  color: rgb(255, 255, 255);
  font-family: "Fjalla One"; /* Utilizar Roboto como primera opción */
  font-style: italic; /* Aplicar estilo cursiva */
}
